.container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 10px 30px;
}
.container h3{
    font-size: 29px;
    font-weight: 500;
    line-height: 46.45px;
    text-align: left;
}
.container>div{
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.container label{
    font-weight: 500;
    font-size: 22px;
}
.container button{
    position: absolute;
    width: 140px;
    height: 33px;
    bottom: 10px;
    right: 10px;
    color: white;
    background:#001F8B;
    border-radius: 10px;
}
.row1 input {
    width: 70%;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #CCCCCC;
}


.colorPicker{
    width: 65%;
    height: 40px;
    gap:20px;
    display: flex;
    /* background-color: rgb(0, 255, 234); */
    /* padding-right: 50px; */ 
}
.colorPicker div{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}


button:hover{
    cursor: pointer;
}