.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    background: #001F8B;
    overflow: hidden;
} 
.header{
    width: 100%;
    height: 14%;
    display: flex;
    padding: 20px 30px; 
    gap:20px;
    font-weight: 500;
    box-sizing: border-box;
    align-items: center;
    color: white;
}
.header span{
    /* background-color: blue; */
    height: 68.9px;
    width: 68.9px;
    border-radius: 50%;
    align-content: center;
}
.header p{
    font-size: 24px;
}
.body{
    flex:1;
    width: 100%;
    background-color: #DAE5F5;
    overflow: auto;
}
.footer{
    width: 100%;
    height: 25%;
    position: relative;
    bottom: 0px;
    border-radius: 0px 0px 0px 10px;
    padding: 10px;
}
.footer textarea{
    width: 100%;
    height:160px;
    border-radius: 10px;
    padding: 10px 20px;
    resize: none;
    font-size: 28px;
}
.button_disabled{
    position: absolute;
    top: 100px;
    right: 25px;
    border: 0px;
    padding: 10px;
    background-color: unset;
    width: 35px;
    height: 29px;
    background-image: url('./../assets/inactive.png');
}
.button_enabled {
    
    position: absolute;
    top: 100px;
    right: 25px;
    border: 0px;
    padding: 10px;
    background-color: unset;
    width: 35px;
    height: 29px;
    background-image: url('./../assets/active.png');
}
.mobileButton{
    display: none;
    font-size: xx-large;
    background: unset;
    border: unset;
    color: white;
}
@media (max-width: 750px){
    .mobileButton{
        display: block;
    }
    .header{
        padding: 1%;
    }

}